{% extends "fplapp/layout.html" %}
{% block content %}
<div class="jumbotron">
  <h2>Fantasy Premiere League</h2>
</div>
<body>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border:none;}
.tg td{font-family:Arial, sans-serif;font-size:18px;padding:20px 30px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg .tg-m7wd{color:#3531ff;text-align:left;vertical-align:top}
</style>
<table class="tg" align="center">
  <tr>
      <td class="tg-m7wd"><a href='fpl/playerperformance.html'>Player Performance</a></td>
      <td class="tg-m7wd"><a href='fpl/transferinout.html'>Transfer In/Out</a></td>
      <td class="tg-m7wd"><a href='fpl/topmanagers.html'>Top Managers</a></td>
  </tr>
  <tr>
      <td class="tg-m7wd"><a href='fpl/fixturedifficulty.html'>Fixture Difficulty</a></td>
      <td class="tg-m7wd"><a href='fpl/ict.html'>ICT Value</a></td>
      <td class="tg-m7wd"><a href='fpl/analysis.html'>Analysis</a></td>
  </tr>
  <tr>
      <td class="tg-m7wd"><a href='fpl/pricechange.html'>Price Change</a></td>
      <td class="tg-m7wd"><a href='fpl/injury_suspension.html'>Injury/Suspension</a></td>
      <td class="tg-m7wd"><a href='fpl/bot.html'> Ask bot for team recommendation</a></td>
  </tr>
</table>
</body>
{% endblock %}
