{% extends "fplapp/layout.html" %}
{% block content %}
<div class="jumbotron">
  <h2>Fantasy Premiere League</h2>
</div>
<body>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border:none;}
.tg td{font-family:Arial, sans-serif;font-size:20px;padding:50px 30px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:20px;font-weight:normal;padding:50px 30px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg .tg-m7wd{color:#3531ff;text-align:left;vertical-align:top}
</style>
<table class="tg" align="center">
  <tr>
    <th class="tg-m7wd">Player Performance</th>
    <th class="tg-m7wd">Transfer In/Out</th>
    <th class="tg-m7wd">Top Managers</th>
  </tr>
  <tr>
    <td class="tg-m7wd">Fixture Difficulty</td>
    <td class="tg-m7wd">ICT Value</td>
    <td class="tg-m7wd">Analysis</td>
  </tr>
  <tr>
    <td class="tg-m7wd">Price Change</td>
    <td class="tg-m7wd">Injury/Suspension</td>
      <td class="tg-m7wd"> Ask bot for team recommendation</td>
  </tr>
</table>
</body>
{% endblock %}