<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Fantasy Premiere League</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body style="padding-top: 5px;">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav authed-nav">
          <li id='home-nav'><a href="/">Home</a></li>
          <li id='ranking-nav'><a href="/fpl/ranking.html">Ranking</a></li>
          <li id='fixture-nav'><a href="/fpl/fixtures.html">Fixtures</a></li>
          <li id='history-nav'><a href="/fpl/history">History</a></li>
          <li id='contacts-nav'><a href="/fpl/contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
<div class="jumbotron">
  <h2>EPL Ramilo</h2>
</div>
  <div class="container main-container">
    {% block content %}{% endblock %}
  </div>
  <footer id="footer" class="footer">
    <div class="container">
    {% include "fplapp/footer.html" %}
    EPL ramilo Version: <a href={{ settings.VERSION_URL }}>{{ settings.SITE_VERSION }}</a>
    </div>
  </footer>
</body>
</html>